:root {
    --ff-main: "Roboto", sans-serif;
    --color-primary-gray: #1F2937;
    --color-primary-blue: #3882F6;
    --color-primary-white: #F9FAF8;
    --color-primary-lightgray: #E5E7EB;
}

body {
    min-height: 100vh;
    font-family: var(--ff-main);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.blue-bg {
    background-color: var(--color-primary-blue);
}

.transparent-bg {
    background-color: transparent;
}

.signup-btn.white-border {
    border: 1px solid var(--color-primary-white);
}

.hero__header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-inline: 400px;
    padding-bottom: 80px;
    background-color: var(--color-primary-gray);
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.navbar ul {
    display: flex;
    gap: 1.2rem;
}

.navbar a {
    color: var(--color-primary-lightgray);
}

.navbar a,
.hero__content p {
    font-size: 1.125rem;
}

.navbar--logo,
.hero__content h1,
.hero__content p {
    color: var(--color-primary-white);
}

.navbar--logo {
    font-weight: 600;
    font-size: 1.250rem;
}

.hero__wrapper {
    display: flex;
    gap: 40px;
}

.hero__content h1 {
    font-size: 3rem;
}

.hero__content p {
    margin-bottom: 5px;
}

.signup-btn {
    border: none;
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.375rem;
    color: var(--color-primary-white);
    font-weight: 600;
}

.hero__image, 
.hero__content {
    flex: 1;
}

.hero__image {
    max-height: 192px;
}

.hero__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero__random {
    padding: 30px 0 100px;
}

.hero__random h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.card {
    max-width: 150px;
}

.card img {
    border: 0.125rem solid var(--color-primary-blue);
    border-radius: 8px;
}

.card p {
    text-align: center;
}

.hero__quote {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: var(--color-primary-lightgray);
}

.quote__wrapper {
    max-width: 33vw;
}

.quote p{
    font-size: 1.5rem;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author p {
    font-weight: 700;
}

.hero__call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px
}

.call__card {
    padding: 30px 70px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 50px;
    background-color: var(--color-primary-blue);
}

.call--header {
    font-size: 1.2rem;
    color: var(--color-primary-white);
}

.call--about {
    font-size: 0.9rem;
    color: var(--color-primary-lightgray);
}